* {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif
}

#start {
  margin-left: 0;
  margin-right: 0;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url(gallery/gallery-16.jpg);
  background-position: center;
  color: white;
}

.links ul {
  text-align: center;
  list-style-type: none;
  margin-top: 20px;
}

.links ul li {
  display: inline-block;
  font-size: 25px;
}

.links ul li a {
  text-decoration: none;
  color: white;
  border: 1px solidtransparent;
  transition: 0.5s ease;
  padding: 10px 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.links ul li a:hover {
  background-color: white;
  color: black;
}

.photos {
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.photos a {
  text-decoration: none;
  background-color: #00b3b3;
  color: black;
  border: 1px solid 5px;
  transition: 0.5s ease;
  padding: 10px 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
}

.photos a:hover {
  background-color: black;
  color: #00b3b3;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  padding: 5px;
}

.column img {
  margin: 5px;
  max-height: 400px;
  justify-content: space-between;
  position: center;
}

#comment {
  margin-left: auto;
  margin-right: auto;
  background-color: beige;
  color: black
}

#greeting-container {
  margin-top: 20px;
}

.galphoto a {
  color: black;
  background-color: #008ae6;
  max-height: 50px;
  max-width: 200px;
}

.galphoto a:hover {
  background-color: black;
  color: #008ae6;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.gallery-images img {
  margin: 5px;
  max-height: 400px;
  max-width: 400;
}

.gallery-images img:hover {
  border: thick solid darkblue;
}

.content button {
  text-decoration: none;
  background-color: #00b3b3;
  color: black;
  border: 1px solid 5px;
  transition: 0.5s ease;
  padding: 10px 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
}

.content button:hover {
  background-color: black;
  color: #00b3b3;
}
