#content {
  margin-left: auto;
  margin-right: auto;
  height: 75vh;
  background-image: url(gallery/gallery-9.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

#comment {
  margin-left: auto;
  margin-right: auto;
  background-color: beige;
}

#greeting-container {
  margin-top: 20px;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.gallery-images img {
    margin: 5px;
    max-height: 400px;
    max-width: 400;
}

.gallery-images img:hover {
    border: thick solid darkblue;
}
